// Extends for common styles

// Mixins for common styles
@mixin section-color($bg-color, $color, $selection-bg-color, $selection-color) {
    background-color: $bg-color;
	color: $color;
    ::selection {
		background: $selection-bg-color;
		color: $selection-color;
	}
}

// Media Queries
@mixin reduced-motion {
    @media (prefers-reduced-motion: reduce) {
        @content;
    }
}

@mixin print-style {
    @media print {
        @content;
    }
}

// Classes
.major {
    height: fit-content;
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: grid;
	place-items: center;
    transition: 
		background-color 0.75s ease, 
		color 0.75s ease;
}

.major-content-container {
    /* fallback font-size*/
		font-size: 3em;
		font-size: 1.25vmax;
        padding: 0 25px;
        border-radius: 25px;
        border: 3px solid;

        box-shadow:	var(--smooth-shadow);
		transition: 
			background-color 0.75s ease, 
			border 0.75s ease,
			box-shadow 0.75s ease;
}

.icon {
    transition: fill 0.75s ease;
}