// Variables for colors, fonts, etc.
$font-stack: 'Nunito', sans-serif;

:root {
	--navigation-color-icon: #fff;
	--navigation-color-hover: #ebebeb;
	--scrollbar-color-thumb: #fff;
	--scrollbar-color-thumb-hover: #ebebeb;
	--scrollbar-color-track: #0000ff;
	--bg-color-main: #0000ff;
	--bg-color-diet: #06d6a0;
	--bg-color-exercise: #880d1e;
	--bg-color-recovery: #bbbdf6;
	--bg-color-tools: #fec601;
	--bg-color-nav: rgba(0, 0, 255, 0.5);
	--bg-color-footer: #0000ff;
	--text-color-white: #fff;
	--text-color-black: #000;
	--text-color-pneumatic: #fff;
	--text-color-tooltip: #000;
	--text-color-link: #fff;
	--tooltip-color: #fff;
	--icon-color-white: #fff;
	--icon-color-black: #000;
	--icon-color-diet: #000;
	--icon-color-exercise: #fff;
	--icon-color-recovery: #000;
	--icon-color-tools: #000;
	--outline-color-intro: rgba(255, 255, 255, 0.9);
	--outline-color-diet: rgba(0, 0, 0, 0.75);
	--outline-color-exercise: rgba(255, 255, 255, 0.85);
	--outline-color-recovery: rgba(0, 0, 0, 0.75);
	--outline-color-tools: rgba(0, 0, 0, 0.75);
	--form-color-border: #000;
	--form-color-radio-border: #000;
	--form-color-radio-bg: #fff;
	--form-color-radio-accent: #0000ff;
	--form-color-error: #b00020;
	--form-color-button: #0000ff;
	--slider-color-background: #fff;
	--slider-color-thumb: #0000ff;
	--footer-color-border: #0000ff;
	--content-color-intro: #00008f;
	--content-color-diet: #9cfce3;
	--content-color-exercise: #5d0914;
	--content-color-recovery: #ededfd;
	--content-color-tools: #fee485;
	--selection-color-main: #fff;
	--selection-color-intro: #add8e6;
	--selection-color-diet: #006400;
	--selection-color-exercise: #f08080;
	--selection-color-recovery: #800080;
	--selection-color-tools: #b8860b;
	--selection-color-text-blue: #0000ff;
	--selection-color-text-white: #fff;
	--selection-color-text-black: #000;
}

[data-theme="dark"] {
	--navigation-color-icon: #d7dadc;
	--navigation-color-hover: #bb86fc;
	--scrollbar-color-thumb: #d7dadc;
	--scrollbar-color-thumb-hover: #bb86fc;
	--scrollbar-color-track: #1e1e1e;
	--bg-color-main: #121212;
	--bg-color-diet: #121212;
	--bg-color-exercise: #121212;
	--bg-color-recovery: #121212;
	--bg-color-tools: #121212;
	--bg-color-nav: #1e1e1e;
	--bg-color-footer: rgba(255, 255, 255, 0.05);
	--text-color-white: #d7dadc;
	--text-color-black: #d7dadc;
	--text-color-pneumatic: #bb86fc;
	--text-color-tooltip: #121212;
	--text-color-link: #bb86fc;
	--tooltip-color: #d7dadc;
	--icon-color-white: #d7dadc;
	--icon-color-black: #000;
	--icon-color-diet: #05c793;
	--icon-color-exercise: #f37c8c;
	--icon-color-recovery: #a4a6f4;
	--icon-color-tools: #cb9f01;
	--outline-color-intro: #9999ff;
	--outline-color-diet: #05c793;
	--outline-color-exercise: #f37c8c;
	--outline-color-recovery: #a4a6f4;
	--outline-color-tools: #cb9f01;
	--form-color-border: #000;
	--form-color-radio-border: #000;
	--form-color-radio-bg: #fff;
	--form-color-radio-accent: #bb86fc;
	--form-color-error: #CF6679;
	--form-color-button: #3700b3;
	--slider-color-background: #d7dadc;
	--slider-color-thumb: #3700b3;
	--footer-color-border: #d7dadc;
	--content-color-intro: rgba(255, 255, 255, 0.05);
	--content-color-diet: rgba(255, 255, 255, 0.05);
	--content-color-exercise: rgba(255, 255, 255, 0.05);
	--content-color-recovery: rgba(255, 255, 255, 0.05);
	--content-color-tools: rgba(255, 255, 255, 0.05);
	--selection-color-main: #bb86fc;
	--selection-color-intro: #bb86fc;
	--selection-color-diet: #bb86fc;
	--selection-color-exercise: #bb86fc;
	--selection-color-recovery: #bb86fc;
	--selection-color-tools: #bb86fc;
	--selection-color-text-blue: #000;
	--selection-color-text-white: #000;
	--selection-color-text-black: #000;
}