@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html {
	/* box-sizing: border-box; */
	scroll-behavior: smooth;
}

body {
	font-family: Nunito, sans-serif;
	text-align: center;
	min-height: 100vh;
	background-color: #0070ff;
	color: #fffcf9;
	margin: 0;
}

a:link {
	color: #fffcf9;
}

#greeting {
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#greeting_hello {
	/* fallback font-size*/
	font-size: 6em;
	font-size: 4vmax;
}

#greeting_welcome {
	/* fallback font-size*/
	font-size: 3em;
	font-size: 2vmax;

}

.tooltip {
	position: relative;
	display: inline-block;
}

/* tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 150px;
	top: 100%;
	left: 50%;
	margin-left: -75px;
	background-color: black;
	color: #fffcf9;
	font-size: x-large;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	position: absolute;
	z-index: 1;
  }
  
  /* show tooltip text when you mouse over tooltip container */
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }

  .tooltip .tooltiptext::after {
	content: " ";
	position: absolute;
	bottom: 100%;  /* at top of tooltip */
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
  }

#greeting_arrow {
	position: absolute;
	bottom: 0;
	animation: move 1.25s ease-in-out infinite alternate;
}

#arrow {
	/* fallback width */
	width: 102px;
	width: 4vmax;
	height: auto;
}

#arrow:hover {
	cursor: pointer;
}

@keyframes move {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, -33%);
	}
}

#introduction {
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#diet {
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #35ce8d;
	color: #352d39;
}

#exercise {
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #f03a47;
	color: #352d39;
}

#recovery {
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#tools {
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}