@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
	--bg-color-main: #0000ff;
	--bg-color-diet: #06d6a0;
	--bg-color-exercise: #880d1e;
	--bg-color-recovery: #bbbdf6;
	--bg-color-tools: #fec601;
	--text-color-white: #fff;
	--text-color-black: #000;
	--text-color-pneumatic: #fff;
	--text-color-tooltip: #000;
	--text-color-link: #fff;
	--tooltip-color: #fff;
	--icon-color-white: #fff;
	--icon-color-black: #000;
	--icon-color-diet: #000;
	--icon-color-exercise: #fff;
	--icon-color-recovery: #000;
	--icon-color-tools: #000;
}

[data-theme="dark"] {
	--bg-color-main: #121212;
	--bg-color-diet: #06d6a0;
	--bg-color-exercise: #880d1e;
	--bg-color-recovery: #bbbdf6;
	--bg-color-tools: #fec601;
	--text-color-white: #d7dadc;
	--text-color-black: #000;
	--text-color-pneumatic: #bb86fc;
	--text-color-tooltip: #121212;
	--text-color-link: #bb86fc;
	--tooltip-color: #bb86fc;
	--icon-color-white: #fff;
	--icon-color-black: #000;
}

html {
	/* box-sizing: border-box; */
	scroll-behavior: smooth;
}

body {
	font-family: Nunito, sans-serif;
	text-align: center;
	min-height: 100vh;
	background-color: var(--bg-color-main);
	color: var(--text-color-white);
	margin: 0;
}

p {
	max-width: 50ch;
	text-align: left;
}

a:link {
	color: var(--text-color-link);
}

/* || LIGHT & DARK THEME SWITCHER */

#theme-switcher {
	position: fixed;
	bottom: 25px;
	right: 25px;
	border: 1px solid rgba(255, 255, 255);
	border-radius: 25%;
}

#sun_icon, #moon_icon {
	fill: var(--icon-color-white);
}

#sun_icon {
	visibility: hidden;
}

/* || GREETING PAGE STYLING */

#greeting {
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#greeting_hello {
	/* fallback font-size*/
	font-size: 6em;
	font-size: 4vmax;
}

#greeting_hello span {
	opacity: 0;
	transform: translateY(2em);
	animation: helloMove 0.5s forwards;
}

#greeting_hello span:nth-child(1) {
	animation-delay: 0.2s;
}
  
#greeting_hello span:nth-child(2) {
	animation-delay: 0.4s;
}
  
#greeting_hello span:nth-child(3) {
	animation-delay: 0.6s;
}

#greeting_hello span:nth-child(4) {
	animation-delay: 0.8s;
}
  
#greeting_hello span:nth-child(5) {
	animation-delay: 1s;
}
  
#greeting_hello span:nth-child(6) {
	animation-delay: 1.2s;
}

#greeting_welcome {
	/* fallback font-size*/
	font-size: 3em;
	font-size: 2vmax;

}

#greeting_arrow {
	position: absolute;
	bottom: 0;
	animation: arrowMove 1.25s ease-in-out infinite alternate;
}

#arrow {
	/* fallback width */
	width: 102px;
	width: 4vmax;
	height: auto;
}

.tooltip {
	position: relative;
	display: inline-block;
}

/* tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 150px;
	top: 100%;
	left: 50%;
	margin-left: -75px;
	background-color: var(--tooltip-color);
	color: var(--text-color-tooltip);
	font-size: x-large;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	position: absolute;
	z-index: 1;
  }
  
  /* show tooltip text when you mouse over tooltip container */
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }

  .tooltip .tooltiptext::after {
	content: " ";
	position: absolute;
	bottom: 100%;  /* at top of tooltip */
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent var(--tooltip-color) transparent;
  }

@keyframes helloMove {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes arrowMove {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, -33%);
	}
}

/* || INTRODUCTION PAGE STYLING */

#introduction {
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* || DIET PAGE STYLING */

#diet {
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: var(--bg-color-diet);
	color: var(--text-color-black);
}

#diet_content {
	padding: 0 25px;
	border: 3px solid rgba(0, 0, 0, .5);
	border-radius: 25px;
	/* fallback font-size*/
	font-size: 3em;
	font-size: 1vmax;
}

.diet_icon {
	fill: var(--icon-color-black);
}

/* || EXERCISE PAGE STYLING */

#exercise {
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--bg-color-exercise);
	color: var(--text-color-white);
}

#exercise_content {
	padding: 0 25px;
	border: 3px solid rgba(255, 255, 255, .5);
	border-radius: 25px;
	/* fallback font-size*/
	font-size: 3em;
	font-size: 1vmax;
}

.exercise_icon {
	fill: var(--icon-color-white);
}

/* || RECOVERY PAGE STYLING */

#recovery {
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--bg-color-recovery);
	color: var(--text-color-black);
}

.recovery_icon {
	fill: var(--icon-color-black);
}

/* || TOOLS PAGE STYLING */

#tools {
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--bg-color-tools);
	color: var(--text-color-black);
}

.tools_icon {
	fill: var(--icon-color-black);
}