#diet {
	@include section-color(var(--bg-color-diet), var(--text-color-black), var(--selection-color-diet), var(--selection-color-text-white));

	#diet_content {
		background-color: var(--content-color-diet);
		border-color: var(--outline-color-diet);

		.diet_icon {
			fill: var(--outline-color-diet);
		}
	}
}