#diet {
	@include section-color(var(--bg-color-diet), var(--text-color-black), var(--selection-color-diet), var(--selection-color-text-white));

	#diet_content {
		/* fallback font-size*/
		font-size: 3em;
		font-size: 1.25vmax;
		background-color: var(--content-color-diet);
		padding: 0 25px;
		border: 3px solid var(--outline-color-diet);
		border-radius: 25px;
		box-shadow: var(--smooth-shadow);
		transition: 
			background-color 0.75s ease, 
			border 0.75s ease,
			box-shadow 0.75s ease;

		.diet_icon {
			fill: var(--icon-color-diet);
			transition: fill 0.75s ease;
		}
	}
}