#exercise {
	@include section-color(var(--bg-color-exercise), var(--text-color-white), var(--selection-color-exercise), var(--selection-color-text-black));

	#exercise_content {
		background-color: var(--content-color-exercise);
		border-color: var(--outline-color-exercise);

		.exercise_icon {
			fill: var(--outline-color-exercise);
		}
	}
}