#exercise {
	width: 100vw;
	height: fit-content;
	max-width: 100%;
	min-height: 100vh;
	background-color: var(--bg-color-exercise);
	color: var(--text-color-white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 
		background-color 0.75s ease, 
		color 0.75s ease;
}

#exercise_content {
	/* fallback font-size*/
	font-size: 3em;
	font-size: 1.25vmax;
	background-color: var(--content-color-exercise);
	padding: 0 25px;
	border: 3px solid var(--outline-color-exercise);
	border-radius: 25px;
	box-shadow: var(--smooth-shadow);
	transition: 
		background-color 0.75s ease, 
		border 0.75s ease;

	& ::selection {
		color: var(--selection-color-text-black);
		background: var(--selection-color-exercise);
	}
}

.exercise_icon {
	fill: var(--icon-color-exercise);
	transition: fill 0.75s ease;
}