footer {
	background-color: var(--bg-color-footer);
	padding: 20px;
	transition: background-color 0.75s ease;

    a {
        color: var(--text-color-link);
        text-decoration: none;
		transition: color 0.75s ease;

        i {
            transition: transform 0.25s linear;
		
		    &:hover { 
                transform: scale(1.1); 
            }
        }
    }

    .social_links {

        a {
            color: var(--text-color-white);
            transition: color 0.75s ease;

            i {
                font-size: 50px;
                margin: 30px;
                transition: transform 0.25s linear;
    
                &:hover { 
                    transform: scale(1.1); 
                }
            }
        }
    }
}