#introduction {
	@include section-color(var(--bg-color-main), var(--text-color-white), var(--selection-color-intro), var(--selection-color-text-black));

	a {
		color: var(--text-color-white);
		text-decoration: none;
		transition: color 0.75s ease;

		&:hover {
			color: var(--text-color-link);
			text-decoration: underline;
		}
	}

	#introduction_content {
		background-color: var(--content-color-intro);
		border: 3px solid var(--outline-color-intro);
	}
}