.nav-wrapper {
    height: 60px;
    left: 0;
    position: fixed;
    top: 0;
	width: 100%;
    z-index: 10;

    .menu-icon {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 2rem;
        justify-content: space-around;
        left: 15px;
        position: fixed;
        top: 15px;
        width: 2rem;
        z-index: 10;
    
        div {
            background-color: var(--navigation-color-icon);
            height: 0.25rem;
            transition: all 0.3s ease-in-out;
        }
    
        &:hover div {
            background-color: var(--navigation-color-hover);
        }

        &.active {
            .bar1 {
                transform: translateY(0.6rem) rotate(-45deg);
            }
        
            .bar2 {
                opacity: 0;
            }
        
            .bar3 {
                transform: translateY(-0.75rem) rotate(45deg);
            }
        }
    }

    nav {
        background: var(--bg-color-nav);
        color: var(--text-color-white);
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        position: fixed;
        top: 0;
        transform: translateX(-100%);
        transition: 
            background 0.75s ease, 
            color 0.75s ease, 
            transform 0.3s ease-in-out;
        width: 200px;
        z-index: 2;
    
        ul {
            display: flex;
            flex-direction: column;
            font-size: 2rem;
            height: 85%;
            justify-content: center;
            list-style: none;
            padding: 0;
            text-align: left;
    
            li {
                margin: 1rem 0;
    
                a {
                    color: var(--text-color-white);
                    text-decoration: none;
                    transition: color 0.75s ease;
            
                    &:hover {
                        color: var(--text-color-pneumatic);
                        text-decoration: underline;
                    }
                }
            }
        }

        &.active {
            transform: translateX(0);
        }
    }
}

/* || LIGHT & DARK THEME SWITCHER */
#theme-switcher {
    border-radius: 25%;
    bottom: 30px;
	cursor: pointer;
	position: fixed;
	right: 30px;
	z-index: 100;
}

#sun_icon, #moon_icon {
	fill: var(--icon-color-white);
	transition: fill 0.75s ease;
}

#sun_icon {
	visibility: hidden;
}