#recovery {
	@include section-color(var(--bg-color-recovery), var(--text-color-black), var(--selection-color-recovery), var(--selection-color-text-white));

	#recovery_content {
		background-color: var(--content-color-recovery);
		border-color: var(--outline-color-recovery);

		.recovery_icon {
			fill: var(--outline-color-recovery);
		}
	}
}