#tools {
	@include section-color(var(--bg-color-tools), var(--text-color-black), var(--selection-color-tools), var(--selection-color-text-white));

	#tools_content {
		background-color: var(--content-color-tools);
		border-color: var(--outline-color-tools);
		margin: 50px 0;
		max-height: 100%;

		.tools_icon {
			fill: var(--outline-color-tools);
		}

		#form_tdee {
			display: flex;
			flex-direction: column;
		
			fieldset {
				border-color: var(--outline-color-tools);
				border-radius: 5px;
				font-weight: bold;
				text-align: left;
				transition: border 0.75s ease;
				width: fit-content;
			}
		}

		#tickmarks {
			display: flex;
			justify-content: space-between;
		
			p {
				font-size: 1rem;
				text-align: center;
				width: 40px;
			}
		}

		#macro-input-container {
			display: flex;
			flex-direction: column;
		}

		.slide-container {
			display: flex;
			flex-direction: column;
			width: 100%;
		
			label span {
				font-weight: normal;
			}

			.slider {
				appearance: none;
				background: var(--slider-color-background);
				border-radius: 12px;
				cursor: pointer;
				height: 24px;
				transition: background 0.75s ease;
				width: 100%;

				&::-webkit-slider-thumb {
					appearance: none;
					background: var(--slider-color-thumb);
					border: 2px solid white;
					border-radius: 10px;
					cursor: pointer;
					height: 48px;
					outline: 1px solid black;
					transition: background 0.75s ease;
					width: 20px;
				}

				&::-moz-range-thumb {
					background: var(--slider-color-thumb);
					border: 2px solid white;
					border-radius: 10px;
					cursor: pointer;
					height: 48px;
					outline: 1px solid black;
					transition: background 0.75s ease;
					width: 20px;
				}
			}
		}

		input {
			&[type="radio"] {
				accent-color: var(--form-color-radio-accent);
				cursor: pointer;
				transform: scale(1.5);
			}
		
			&[type="submit"] {
				background-color: var(--form-color-button);
				border: 2px solid white;
				border-radius: 5px;
				color: white;
				cursor: pointer;
				font-family: inherit;
				font-size: 1.5rem;
				margin-top: -30px;
				outline: 1px solid black;
				padding: 5px 152px 5px 10px;
				text-align: left;
				width: min-content;
		
				&:hover {
					background-color: #1f1fff;
					transform: scale(0.975);
				}
		
				&:active {
					background-color: #9999ff;
					border: 2px solid black;
					color: black;
					outline: 1px solid black;
					transform: scale(0.95);
				}
		
				&:not(:hover), &:not(:active) {
					transition: 
						background-color 0.75s ease, 
						border 0.75s ease,
						color 0.75s ease,
						outline 0.75s ease;
				}
			}
		}
		
		input[type="number"], 
		select {
			border: 1px solid var(--form-color-border);
			border-radius: 5px;
			box-sizing: border-box;
			font-family: inherit;
			font-size: 1rem;
			margin-bottom: 5px;
			padding: 7px;
			width: 100%;
		}
		
		input:invalid {
			border: 3px solid var(--form-color-error);
			outline: 1px solid var(--form-color-border);
			transition: 
				border 0.75s ease, 
				outline 0.75s ease;
		}
		
		select {
			cursor: pointer;
		}
	}
}