/* || TOOLS PAGE STYLING */
#tools {
	width: 100vw;
	height: fit-content;
	max-width: 100%;
	min-height: 100vh;
	background-color: var(--bg-color-tools);
	color: var(--text-color-black);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 
		background-color 0.75s ease, 
		color 0.75s ease;
}

#tools_content {
	/* fallback font-size*/
	font-size: 3em;
	font-size: 1.25vmax;
	max-height: 100%;
	background-color: var(--content-color-tools);
	margin: 50px 0;
	padding: 0 25px;
	border: 3px solid var(--outline-color-tools);
	border-radius: 25px;
	box-shadow:
  		1.6px 1.6px 1.9px rgba(0, 0, 0, 0.018),
		3.8px 3.8px 4.3px rgba(0, 0, 0, 0.026),
		6.8px 6.8px 7.7px rgba(0, 0, 0, 0.032),
		11.2px 11.2px 12.8px rgba(0, 0, 0, 0.038),
		18.5px 18.5px 21.2px rgba(0, 0, 0, 0.044),
		32.4px 32.4px 37px rgba(0, 0, 0, 0.052),
		70px 70px 80px rgba(0, 0, 0, 0.07)
	;
	transition: 
		background-color 0.75s ease, 
		border 0.75s ease;

	& ::selection {
		color: var(--selection-color-text-white);
		background: var(--selection-color-tools);
	}
}

#form_tdee {
	display: flex;
	flex-direction: column;
}

	#form_tdee fieldset {
		text-align: left;
		font-weight: bold;
		width: fit-content;
		border-radius: 5px;
		border-color: var(--outline-color-tools);
		transition: border 0.75s ease;
	}

	#form_tdee label {
		text-align: left;
		font-weight: bold;
	}

#tickmarks {
	display: flex;
	justify-content: space-between;
}

	#tickmarks p {
		font-size: 1rem;
		width: 40px;
		text-align: center;
	}

#macro-input-container {
	display: flex;
	flex-direction: column;
}

	#macro-input-container label {
		text-align: left;
		font-weight: bold;
	}

.tools_icon {
	fill: var(--icon-color-tools);
	transition: fill 0.75s ease;
}

.slide-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

	.slide-container label {
		text-align: left;
	}

.slider {
	appearance: none;
	width: 100%;
	height: 24px;
	background: var(--slider-color-background);
	border-radius: 12px;
	cursor: pointer;
	transition: background 0.75s ease;
}

	.slider::-webkit-slider-thumb {
		appearance: none;
		width: 20px;
		height: 48px;
		background: var(--slider-color-thumb);
		border-radius: 10px;
		border: 2px solid white;
		outline: 1px solid black;
		cursor: pointer;
		transition: background 0.75s ease;
	}

	.slider::-moz-range-thumb {
		width: 20px;
		height: 48px;
		background: var(--slider-color-thumb);
		border-radius: 10px;
		border: 2px solid white;
		outline: 1px solid black;
		cursor: pointer;
		transition: background 0.75s ease;
	  }

input[type="radio"] {
	accent-color: var(--form-color-radio-accent);
	transform: scale(1.5);
	cursor: pointer;
}

input[type="number"], 
select {
	font-family: inherit;
	font-size: 1rem;
	width: 100%;
	margin-bottom: 5px;
	padding: 7px;
	border-radius: 5px;
	border: 1px solid var(--form-color-border);
	box-sizing: border-box;
}

	input:invalid {
		border: 3px solid var(--form-color-error);
		outline: 1px solid var(--form-color-border);
		transition: 
			border 0.75s ease, 
			outline 0.75s ease;
	}

select {
	cursor: pointer;
}

input[type="submit"] {
	font-family: inherit;
	font-size: 1.5rem;
	text-align: left;
	width: min-content;
	background-color: var(--form-color-button);
	color: white;
	margin-top: -30px;
	padding: 5px 152px 5px 10px;
	border: 2px solid white;
	border-radius: 5px;
	outline: 1px solid black;
	cursor: pointer;

	&:hover {
		background-color: #1f1fff;
		transform: scale(0.975);
	}

	&:active {
		background-color: #9999ff;
		color: black;
		border: 2px solid black;
		outline: 1px solid black;
		transform: scale(0.95);
	}

	&:not(:hover), &:not(:active) {
		transition: 
			background-color 0.75s ease, 
			color 0.75s ease, 
			border 0.75s ease, 
			outline 0.75s ease;
	}
}